@import "variable";
#Paymentlist {
  background: #4b2405;
  border-top: 1px solid #fede00;
  select {
    height: 33px;
    width: 200px;
  }
  input[type=text] {
    width: 200px;
  }
  .setting_btn {
    margin-top: 20px;
  }
  table {
    .dd {
      padding-left: 10px;
    }
  }
  .selectview {
    margin-bottom: 20px;
  }
  .copy_info {
    padding-bottom: 16px;
  }
  /* 內頁 */
  .paymentlist_logo {
    height: 50%;
    max-height: 200px;
    width: 100%;
    max-width: 290px;
    background: #e8ba5a;
    &.payment_bank_logo {
      background: url('/images/user_deposit_icon_05.png') no-repeat;
      background-size: 100% 100%;
    }
    &.payment_wechatpay_logo {
      background: url('/images/user_deposit_icon_02.jpg') no-repeat;
      background-size: 100% 100%;
    }
    &.payment_alipay_logo {
      background: url("/images/user_deposit_icon_03.jpg") no-repeat;
      background-size: 100%  100%;
    }
    &.payment_qqpay_logo {
      background: url('/images/user_deposit_icon_06.png') no-repeat;
      background-size: 100% 100%;
    }
  }

  .default {
    font-size: 18px;
    text-align: center;
    line-height: 42px;

    background: #653c01; /* Old browsers */
    background: -moz-linear-gradient(top, #653c01 0%, #d9ad0c 28%, #d9ad0c 28%, #fcf38c 44%, #fcf38c 49%, #fcf38c 51%, #d9ad0c 67%, #d9ad0c 67%, #653c01 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #653c01 0%,#d9ad0c 28%,#d9ad0c 28%,#fcf38c 44%,#fcf38c 49%,#fcf38c 51%,#d9ad0c 67%,#d9ad0c 67%,#653c01 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #653c01 0%,#d9ad0c 28%,#d9ad0c 28%,#fcf38c 44%,#fcf38c 49%,#fcf38c 51%,#d9ad0c 67%,#d9ad0c 67%,#653c01 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 5px;
    color: #512a05;
    font-weight: bold;
    border: 1px solid #FCF38C;
    &:hover{
      background: #7f4600; /* Old browsers */
      background: -moz-linear-gradient(top, #7f4600 0%, #643000 53%, #874900 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #7f4600 0%,#643000 53%,#874900 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #7f4600 0%,#643000 53%,#874900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      border: 1px solid #FCF38C;
      color: #FCF38C;
    }
  }
}
#Paymentdone{
  .word{
    min-height:600px;
    text-align: center;
  }
  .yellow{
    color: yellow;
  }

  .container{
    min-height: 230px;
    .row{
      padding: 8% 0 6% 0;
      border: 1px solid;
    }
  }

  .check_record_btn{
    width: 191px;
    height: 42px;
    border: 0;
    background: url("/images/bn_account.png") no-repeat;
    &:hover{
      background: url("/images/bn_account_on.png") no-repeat;
    }
  }

  .back_btn{
    width: 191px;
    height: 42px;
    border: 0;
    background: url("/images/bn_back.png") no-repeat;
    &:hover{
      background: url("/images/bn_back_on.png") no-repeat;
    }
  }
}

//重置登入密碼
#resetPassword{
  background: $mb_bg;
  h5{
    color: $title;
    font-size: 18px;
  }
  .citem {
    display: block;
    margin: 0 20px;
    line-height: 40px;
    padding: 0 10px;
    color: $white;
    width: 100%;
    .s_title {
      display: inline-block;
      width: 30%;
      height: 38px;
      line-height: 38px;
      color: $white;
      background: $info_content;
      text-align: right;
      font-size: 16px;
      padding: 0 8px 0 0;
      margin: 0px 0 10px 0;
    }
    .s_content {
      display: inline-block;
      width: 60%;
      height: 38px;
      color: $white;
      line-height: 40px;
      background: #000;
      text-align: center;
      margin: 10px 0 10px 0;

      input[type=password]{
        width: 100%;
        border: 0;
        height: 38px;
        text-align: center;
        border: solid $info_content 2px;
      }

    }
  }
}

//重置提款密碼
#withdrawPassword{
  background: $mb_bg;
  h5{
    color: $title;
    font-size: 18px;
  }
  .citem {
    display: block;
    margin: 0 20px;
    line-height: 40px;
    padding: 0 10px;
    color: $white;
    width: 100%;
    .s_title {
      display: inline-block;
      width: 30%;
      height: 38px;
      line-height: 38px;
      color: $white;
      background: $info_content;
      text-align: right;
      font-size: 16px;
      padding: 0 8px 0 0;
      margin: 0px 0 10px 0;
    }
    .s_content {
      display: inline-block;
      width: 60%;
      height: auto;
      color: $white;
      line-height: 40px;
      background: #000;
      text-align: center;
      margin: 10px 0 10px 0;

      input[type=password]{
        width: 100%;
        border: 0;
        height: 38px;
        text-align: center;
        border: solid $info_content 2px;
      }

    }
  }
}

//平台轉帳
#transfer {
  background-color: $trans_bg;
    input::-webkit-input-placeholder {
        color: $placeholder;
    }
    input::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $placeholder;
    }
    input[type=text] {
        border: 0;
        height: 27px;
        width: 80%;
    }
    .row {
        color: $darker_color;
    }
    .con_padding {
        padding-bottom: 0px;
    }
    .no_padding {
        padding: 0;
    }
    color: $darker_color;
    .con {
        width: 100%;
        font-size: 18px;
        height: 30px;
        margin: 3px 0 3px 3px;
        .info_content {
            width: 34%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin: 0 0 0 0;
            font-size: 12px;
            background: $info_content;
            color: $white;
            padding: 0px 0 0 0px;
            display: inline-block;
            position: absolute;
        }
        .number {
            width: 66%;
            height: 30px;
            margin: 0px 0 0 0px;
            background: $trans_r;
            border: 1px solid $info_content;
            display: inline-block;
            position: relative;
            left: 33%;
            color: #000;
            .refresh_icon {
                width: 20px;
                height: 20px;
                position: absolute;
                right: 5px;
                top: 4px;
            }
        }
    }
    .t_m {
        width: 100%;
        height: 35px;
        text-align: center;
        cursor: pointer;
        background: url("/images/bn_user_out.png") no-repeat;
        background-size: 100% 100%;
        border: none;
        &:hover {
            background: url("/images/bn_user_out_on.png") no-repeat;
            background-size: 100% 100%;
        }
    }
    .t_in {
        width: 100%;
        height: 35px;
        text-align: center;
        cursor: pointer;
        border: none;
        background: url("/images/bn_user_allinto.png") no-repeat;
        background-size: 100% 100%;
        &:hover {
            background: url("/images/bn_user_allinto_on.png") no-repeat;
            background-size: 100% 100%;
        }
    }
    .t_b {
        width: 100%;
        height: 35px;
        text-align: center;
        cursor: pointer;
        background: url("/images/bn_user_allback.png") no-repeat;
        background-size: 100% 100%;
        border: none;
        &:hover {
            background: url("/images/bn_user_allback_on.png") no-repeat;
            background-size: 100% 100%;
        }
    }
}

//銀行設定
#BankSettings {
  background: $mb_bg;
  border-top: 1px solid $mb_border;
    label {
      width: auto;
      float: left;
      text-align: right;
    }
    // input,
    // textarea,
    // select {
    //     width: 280px;
    //     height: 35px;
    // }
}

//個人資訊
#PersonalProfile {
    input::-webkit-input-placeholder {
        color: $placeholder;
    }
    input::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $placeholder;
    }
    .setting_btn {
        position: absolute;
        bottom: 0px;
        right: 10px;
    }
    input {
        max-width: 300px;
    }

    background: $mb_bg;
    border-top: 1px solid $mb_border;
      label {
        width: auto;
        float: left;
        text-align: right;
        right: 50%;
      }
    //   input,
    //   textarea,
    //   select {
    //       width: 280px;
    //       height: 35px;
    //   }
}

/*分頁：账戶中心 包含三個訊息分頁*/
div#Account {
  background: $mb_bg;
  height: auto;
    table {
        margin: 0 auto;
    }
    .bw {
        .tt {
            border: 1px solid $table_l_border;
            color: $white;
            @include bg_1;
        }
    }
    .uncheck {
        background: #000;
        color: $white;
    }
    .slider_1 {
        width: 100%;
        display: block;
        height: 35px;
        max-width: 1200px;
        margin: 10px auto 0 auto;

        div {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-bottom: 10px;
            .nav {
                height: 100%;
                overflow: hidden;
                width: 100%;
                padding-bottom: 0px;
                text-align: center;
                .on {
                    border-top: 1px solid $title;
                    border-left: 1px solid $title;
                    border-right: 1px solid $title;
                    background: $nav_on_background;
                    a {
                        color: $title;
                        cursor: pointer;
                    }
                }
                .extra {
                    width: 10%;
                    border-bottom: 1px solid $title;
                }
                .off {
                    border-top: 1px solid $info_content;
                    border-right: 1px solid $info_content;
                    border-bottom: 1px solid $title;
                }
                li {
                    width: 30%;
                    //height: 100%;
                    float: left;
                    background: $nav_off_background;
                    color: $info_content;
                    display: inline-block;
                    cursor: pointer;
                    a {
                        font: bolder 12px/12px $fontA;
                        padding: 0px;
                        color: $info_content;
                        line-height: 35px;
                    }
                    &:hover {
                        border-top: 1px solid $title;
                        border-left: 1px solid $title;
                        border-right: 1px solid $title;
                        //background: #19181e;
                        a {
                            color: $title;
                        }
                    }
                }
            }
        }
    }
    .nav-tabs{
      border: 0;
      li{
        width: 33.33%;
        text-align: center;
        a{
          border: 0;
          &:hover{
            background: $nav_on_background;
          }
        }
      }
    }
    #History,
    #ReceivedMessage {
        .item {
            font-family: 16px/16px $fontA;
            position: relative;
            border: solid 1px #666;
            margin: 1rem 2rem;
            padding: 10px 150px;
            min-height: 115px;
            span.date {
                position: absolute;
                top: 5px;
                right: 5px;
            }
            .cus {
                background: url('/images/Message_icon_service.png');
                background-size: 100%;
                margin-left: -125px;
                float: left;
                width: 100px;
                height: 100px;
            }
            .mes {
                background: url('/images/Message_icon_Sending.png');
                background-size: 100%;
                margin-left: -125px;
                float: left;
                width: 100px;
                height: 100px;
            }
            .trash {
                background: url('/images/Message_icon_trash.png');
                background-size: 100%;
                position: absolute;
                top: 30px;
                right: 5px;
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
            .reply {
                background: url('/images/Message_icon_mailreply.png');
                background-size: 100%;
                position: absolute;
                top: 30px;
                right: 60px;
                width: 50px;
                height: 50px;
                cursor: pointer;
            }
            p {
                margin: 5px;
                font-size: 14px;
            }
            h5 {
                font: bold 20px/20px $fontA;
                max-width: 80%;
                max-height: 20px;
                overflow: hidden;
                cursor: pointer;
            }
            .subs {
                margin: 15px 0;
                display: none;
            }
            @media (max-width: 480px) {
                padding: 5px;
                margin: 1rem;
                .cus {
                    margin-left: initial;
                    float: initial;
                    width: 50px;
                    height: 50px;
                }
                .trash {
                    position: absolute;
                    top: 25px;
                    right: 5px;
                    width: 30px;
                    height: 30px;
                }
                .reply {
                    position: absolute;
                    top: 25px;
                    right: 40px;
                    width: 30px;
                    height: 30px;
                }
                h5 {
                    font: bold 12px/20px $fontA;
                    max-width: 100%;
                }
                p {
                    font-size: 12px;
                }
                .subs {
                    margin: 15px 0;
                }
            }
            /*手機*/
        }
        .item.show {
            .subs {
                display: block;
            }
        }
    }
    #SendingMessage {
        .tit {
            font: 26px/90px $fontA;
            margin: 15px -15px;
        }
        input,
        textarea {
            width: 100%;
            border: 2px solid $info_content;
        }
        input {
            height: 36px;
            background: #fff;
            color: #000;
        }
        textarea {
            height: 220px;
            background: #fff;
            color: #000;
        }
        .col-md-2.col-ms-12.text-right {
            font: bold 22px/50px $fontA;
        }
        @media (max-width: 480px) {
            .tit {
                font: bold 14px/16px $fontA;
            }
            .col-md-2.col-ms-12.text-right {
                font: bold 22px/50px $fontA;
                text-align: left;
                img {
                    width: 50px;
                }
            }
        }
    }
}

//發送訊息
#SendingMessage {
  border-top: 1px solid $mb_border;
  .container{
    margin: 0px auto;
  }
    textarea::-webkit-input-placeholder {
        color: #260e01;
    }
    textarea::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #260e01;
    }
    input::-webkit-input-placeholder {
        color: #260e01;
    }
    input::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #260e01;
    }
}

//收件夾
#ReceivedMessage {
  border-top: 1px solid $mb_border;
    table {
        font: 14px/14px $fontA;
        .subs {
            display: none;
        }
        .point {
            cursor: pointer;
        }
        .bw {
            font-size: 14px;
        }
    }
}

/*分頁：存款*/
#Deposit {
  background: $mb_bg;
  border-top: 1px solid $mb_border;
    .blue input::-webkit-input-placeholder {
        color: $placeholder;
    }
    .blue input::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $placeholder;
    }
    .no_border{
      border: 0;
    }
    #sys_preview {
        max-width: 300px;
        max-height: 300px;
        display: none;
    }

    div.form-group, div.form-group div {
        margin: 0;
        padding: 0;
        width: 272px;
    }

    .input-group.date, input:not(.did):not([type="number"]):not([type="file"]) {
        width: 100%;
        display: inline-flex;
    }

    .glyphicon{
        left: -5px;
    }

    .input-group-addon{
        padding: 6px 18px;
    }

    select {
        height: 32px;
    }

    table table.bg_gray {
        margin: 0;
    }

    span.wt {
        color: #ffffff;
    }

    hr {
        width: 92%;
        margin: 0 auto;
        border: solid 1px #6f4b2b;
        border-width: 0 0 1px 0;
    }

    @media (min-width: 768px) {
        div.qr_code {
            float: left;
            width: 50%;
            max-width: 230px;
            margin: -220px 0 30px 600px;
        }
    }
}

/*分頁：提款*/
#Withdrawal {
  background: $mb_bg;
  border-top: 1px solid $mb_border;
    @media (max-width: 480px) {
        h2 {
            font: bold 16px/16px $fontA;
        }
    }
}

/*我的账户*/
#MyAccount {
  background: $mb_bg;
  border-top: 1px solid $mb_border;
    .refresh_icon {
        width: 26px;
        height: 26px;
        right: 130px;
        display: inline-block;
        position: inherit;
    }
    .tt {
        color: $white;
        border: 1px solid $table_l_border;
        @include bg_1;
    }
    .right {
        text-align: left;
    }
    table {
      padding: 0;
      font-weight: normal;
      font-size: 14px;
        th {
            text-align: left;
            font-weight: normal;
        }
        &.bw{
            tr, td{
                text-align: left;
            }
        }
    }
    .outer_table {
        width: 100%;
        background-color: $table_bg_r;
        border-top: solid $table_r_border 2px;
        border-right: solid $table_r_border 2px;
        border-bottom: solid $table_r_border 2px;
        input,
        input[type=password]::-webkit-input-placeholder {
            color: $placeholder;
        }
        input,
        input[type=password]::-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: $placeholder;
        }
    }

}

//deposite
#wcdeposit, #alipayeposit, #bank_1{
  table:not(.outer_table) {
    width: 100%;
    td{
      width: 33%;
    }
  }
}

//會員中心的 表格
.outer_table {
    width: 100%;
    background-color: $table_bg_r;
    border-top: solid $table_border 2px;
    border-right: solid $table_border 2px;
    border-bottom: solid $table_border 2px;

    .tbscroll{
      td {
        max-width: 78px;
        padding: 14px 4px;
      }
    }
}

//帳戶紀錄
#AccountRecords{
  background: $mb_bg;
  border-top: 1px solid $mb_border;
  table{
    font-size: 14px;
    font-weight: normal;
    th, tr, td{
      font-weight: normal;
      text-align: center;
    }
  }
}

//帳戶紀錄
#GameLogs{
  background: $mb_bg;
  border-top: 1px solid $mb_border;
  table{
    font-size: 14px;
    font-weight: normal;
    th{
      font-weight: normal;
    }
  }
}

#AccountRecords,
#GameLogs{
    div, div lable{
        font:14px/30px $fontA;
    }
}
