@import "mixin";
@import "variable";

/*關於我們*/

#AboutUs,
#ResponsibleGaming,
#PrivacyPolicy,
#TermsConditions,
#PatronProtection,
#Requirements {
  background: $static_bg;
    .text_title {
        color: $title;
        font-size: 18px;
        margin-top: 20px;
    }
    p {
        margin: 0;
        font-size: 14px;
        color: $white;
        line-height: 26px;
        padding-left: 1.5em;
    }
    ol {
        list-style-type: none;
        counter-reset: item;
        margin: 0;
        padding: 0;
    }
    ol>li {
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;
        color: $title;
        font-size: 18px;
        margin-top: 20px;
        list-style: none;
    }
    ol>li:before {
        /*content: counters(item, ".") ". ";*/
        display: table-cell;
        padding-right: 0.6em;
    }
    li ol>li {
        margin: 0;
        font-size: 14px;
        color: #fff;
        line-height: 26px;
        padding-left: 1.5em;
    }
    li ol>li:before {
        content: counters(item, ".") " ";
    }
    li ol li ol>li {
        margin: 0;
        font-size: 14px;
        color: #fff;
        line-height: 26px;
        padding-left: 0em;
    }
}

#PatronProtection {
    table {
        font-size: 14px;
    }
}

#TermsConditions div.word textarea{
    color: $white;  height: 100%; width: 96%; margin: 40px 2%;   background: #000;
    font:14px/16px $fontA;
}
