@charset "utf-8";

#sport {
  position: relative;
  > ul.game-list {
    padding: 0;
    text-align: center;
    li {
      position: relative;
      display: inline-block;
      float: left;
      width: 320px;
      height: 421px;
      margin: 15px 12px 0 0;
      cursor: pointer;
    }
  }

  ul.game-list li {
    &[game-box="sports1"] {
      background: url(../images/sports1.png);
    }
    &[game-box="sports2"] {
      background: url(../images/sports2.png);
    }
    &[game-box="sports3"] {
      background: url(../images/sports3.png);
    }
    &:hover {
      background-position: center bottom;
    }
  }
  
}

p.sport-con {
  margin: 30px 0 120px;
  color: #eddb87;
  padding: 20px 0;
  border-top: 1px solid #2f2922;
  border-bottom: 1px solid #2f2922;
  &:after {
    content: '';
    position: absolute;
    bottom: -95px;
    left: 0;
    width: 1000px;
    height: 50px;
    background: url(../images/btm_img.png);
  }
}

